@tailwind base;

/* Write your own custom base styles here */

body {
  background-color: #e8ffff;
  color: #213e3b;
}

h1 {
  color: #14274e;
}

h3 {
  color: #7579e7;
}

.dark-mode {
  background-color: #e8ffff;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #010101;
    color: #f0ece2;
  }

  h1 {
    color: #7579e7;
  }

  h3 {
    color: #69779b;
  }

  img {
    filter: brightness(0.9);
  }

  .dark-mode {
    background-color: rgb(18, 18, 20);
  }
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
